:root {
  --accent-text-color: #ff6c00;
  --first-text-color: #ffffff;
  --hero-title-color: #ffffff;
  --hero-pre-title-color: rgba(157, 164, 189, 0.6);
  --hero-text-color: #9da4bd;
  --primary-pre-title-color: #303030;
  --primary-title-color: #303030;
  --primary-text-color: #555555;
  --primary-btn-text-color: #ffffff;
  --secondary-btn-text-color: #303030;
  --secondary-title-color: #ffffff;
  --secondary-text-color: #303030;
  --accent-btn-text-color: #ffffff;
  --primary-bg-color: #ffffff;
  --first-bg-color: #303030;
  --secondary-bg-color: #f7f7f7;
  --primary-btn-bg-color: #303030;
  --secondary-btn-bg-color: #ffffff;
  --accent-btn-bg-color: #ff6c00;
  --border-btn: 1px solid #ff6c00;
  --hero-overlay: rgba(25, 28, 38, 0.2);
  --services-bg-color: #111319;
  --primary-text-font: 'Open Sans', sans-serif;
  --primary-title-font: 'Raleway', sans-serif;
  --spacing-between-paragraphs: 20px;
  --heading-distance: 44px;
  --image-distance: 30px;
  --pre-link-margin: 40px;
  --pre-title-margin: 20px;
}

/* --- общий css начало --- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-text-font);
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.img {
  display: block;
}

.item-img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

.btn {
  min-width: 160px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: var(--border-btn);
  border-radius: 25px;
  cursor: pointer;
}

.first-btn {
  color: var(--primary-btn-text-color);
  background-color: transparent;
}

.second-btn {
  color: var(--secondary-btn-text-color);
  background-color: transparent;
}

.first-btn:hover,
.first-btn:focus,
.second-btn:hover,
.second-btn:focus {
  color: var(--accent-btn-text-color);
  background-color: var(--accent-btn-bg-color);
}

.font-social {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.pre-link {
  display: flex;
  align-items: center;
}

.pre-link::before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: var(--pre-link-margin);
  flex-shrink: 0;
  background-color: var(--primary-pre-title-color);
}

.pre-link .item + .item {
  margin-left: var(--pre-link-margin);
}

.pre-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: var(--pre-title-margin);
}

.title {
  font-family: var(--primary-title-font);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -------- HEADER ------- */
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  background-color: var(--first-bg-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-list .item + .item {
  margin-left: 40px;
}

.header-list .link,
.header-right .link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-right {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header .link {
  color: var(--first-text-color);
}

.header .active,
.header .link:hover,
.header .link:focus {
  color: var(--accent-text-color);
}

.header .logo {
  margin-right: 70px;
  color: var(--primary-title-color);
  background-color: var(--primary-bg-color);
}

.icon-logo {
  display: block;
  fill: currentColor;
}

.header-btn {
  margin-left: 40px;
}
/* -------- FOOTER ------- */
.footer {
  padding-top: 57px;
  padding-bottom: 55px;
  padding-left: 55px;
  padding-right: 55px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-text {
  color: var(--hero-text-color);
}

.footer-list .link {
  color: var(--primary-pre-title-color);
}

.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-text-color);
}
/* --- общий css конец --- */
/* -------------------------- */
/* --- index.html начало --- */

/* секция hero */
.hero-container {
  display: flex;
}

.hero-body {
  max-width: 1073px;
  flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 96px;
  padding-right: 452px;
  background-color: var(--first-bg-color);
  background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)),
    url(../images/slider-img-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .link {
  color: var(--primary-pre-title-color);
}

.hero .link:hover,
.hero .link:focus {
  color: var(--accent-text-color);
}

.hero .pre-link {
  width: 100px;
  transform: rotate(-90deg);
  justify-content: flex-end;
}

.hero-pre-title {
  margin-bottom: var(--spacing-between-paragraphs);
  color: var(--hero-pre-title-color);
}

.hero-pre-title::before {
  background-color: var(--hero-pre-title-color);
}

.hero-title {
  margin-bottom: var(--spacing-between-paragraphs);
  font-family: var(--primary-title-font);
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--hero-title-color);
}

.hero-text {
  color: var(--hero-text-color);
}

/* секция about */

.about {
  padding-top: 139px;
  padding-bottom: 121px;
}

.about-container {
  display: flex;
}

.about-list {
  display: flex;
  padding-right: 15px;
  flex-basis: 50%;
}

.about-list .item + .item {
  margin-left: var(--image-distance);
}

.about-content {
  padding-left: 50px;
  padding-right: 55px;
  flex-basis: 50%;
}

.about-pre-title {
  margin-bottom: var(--spacing-between-paragraphs);
  color: var(--primary-pre-title-color);
}

.about-pre-title::before {
  background-color: var(--primary-pre-title-color);
}

.about-title {
  margin-bottom: var(--spacing-between-paragraphs);
  color: var(--primary-title-color);
}

.about-text {
  margin-bottom: var(--spacing-between-paragraphs);
}

.about-text-content {
  margin-bottom: 40px;
}

/* секция services */

.services {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: var(--services-bg-color);
  background-image: url(../images/services-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.services-pre-title {
  margin-bottom: var(--spacing-between-paragraphs);
  color: var(--hero-pre-title-color);
}

.services-pre-title::before {
  background-color: var(--hero-pre-title-color);
}

.services-title {
  margin-bottom: var(--heading-distance);
  color: var(--secondary-title-color);
}

.services-content {
  display: flex;
  margin-bottom: 50px;
}

.services-list {
  flex-basis: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.services-list:nth-child(odd) {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.services-list:nth-child(even) {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.services-list .item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.services-list .item::before {
  content: '';
  margin-left: 6px;
  margin-right: 6px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}

.services-list .item + .item {
  margin-top: 20px;
}

.services-text {
  color: var(--hero-text-color);
}

.services-text:first-child {
  order: -1;
}

.services-btn {
  text-align: center;
}

/* секция advantage */

.advantage {
  padding-top: 121px;
  padding-bottom: 130px;
}

.advantage-container {
  display: flex;
}

.advantage-list {
  flex-basis: 50%;
  padding-left: 100px;
  padding-right: 85px;
  display: flex;
  flex-wrap: wrap;
}

.advantage-list .item {
  flex-basis: calc(100% / 2 - var(--image-distance));
  padding: 20px;
  text-align: center;
  background-color: var(--secondary-bg-color);
}

.advantage-list .item:nth-child(2n) {
  margin-top: var(--image-distance);
  margin-left: var(--image-distance);
}

.advantage-list .item:nth-child(2n + 1) {
  margin-bottom: var(--image-distance);
}

.advantage-list .item:last-child {
  margin-bottom: 0;
}

.advantage .value {
  display: inline-block;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color);
}

.advantage .action {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.01em;
}

.advantage-content {
  flex-basis: 50%;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 30px;
  padding-right: 70px;
}

.advantage-pre-title {
  margin-bottom: var(--spacing-between-paragraphs);
  color: var(--primary-pre-title-color);
}

.advantage-title {
  margin-bottom: var(--spacing-between-paragraphs);
  color: var(--primary-title-color);
}

/* секция masters */
.masters {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: var(--secondary-bg-color);
}

.masters-pre-title {
  margin-bottom: var(--spacing-between-paragraphs);
  color: var(--primary-pre-title-color);
}

.masters-title {
  margin-bottom: var(--heading-distance);
  color: var(--primary-title-color);
}

.masters-list {
  display: flex;
  margin-left: calc(-1 * var(--image-distance));
}

.masters-list .item {
  flex-basis: calc(100% / 3 - var(--image-distance));
  margin-left: var(--image-distance);
}

.masters-list .img {
  margin-bottom: var(--image-distance);
}

.masters-list .item-title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}

.masters-list .position {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

/* секция gallery */

.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}

.gallery-pre-title {
  margin-bottom: var(--heading-distance);
  color: var(--primary-pre-title-color);
}

.gallery-list {
  display: flex;
  margin-left: calc(-1 * var(--image-distance));
}

.gallery-list .item {
  margin-left: var(--image-distance);
}

/* секция online */

.online {
  background-color: var(--first-bg-color);
}

.online-title {
  color: var(--secondary-title-color);
}

/* секция contacts */

.contacts {
  background-color: var(--first-bg-color);
}

.address {
  font-style: inherit;
}

.contacts-title {
  color: var(--secondary-title-color);
}

.contacts-pre-title {
  color: var(--secondary-title-color);
}

.contacts-text {
  color: var(--hero-text-color);
}

.email:hover,
.email:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-text-color);
}
/* --- index.html конец --- */
/* -------------------------- */
